@model AspNetMvc_EFCodeFirst.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "教师列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>教师列表</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>姓名</th>
        <th>入职时间</th>
        <th>办公室</th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model.Instructors)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.InstructorID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if (item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @Html.ActionLink("选中", "Index", new { id = item.ID }) |
                @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
                @Html.ActionLink("详情", "Details", new { id = item.ID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

@if (Model.Courses != null)
{
    <h3>任教课程</h3>
    <table class="table">
        <tr>
            <th>操作</th>
            <th>课程代码</th>
            <th>课程名称</th>
            <th>所属院系</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("选中", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        选课学生
    </h3>
    <table class="table">
        <tr>
            <th>姓名</th>
            <th>学习等级</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}