@model IEnumerable<AspNetMvc_EFdbFirst.Models.Student>

@{
    ViewBag.Title = "学生列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>学生列表</h2>

<p>
    @Html.ActionLink("添加新项", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.EnrollmentDate)</th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
        <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.StudentID }) |
            @Html.ActionLink("详细", "Details", new { id=item.StudentID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.StudentID })
        </td>
    </tr>
}

</table>
