@model AspNetMvc_EFCodeFirst.Models.Course

@{
    ViewBag.Title = "删除数据";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除数据</h2>

<h3>您确定要删除这条数据吗?</h3>
<div>
    <h4>课程信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            所属院系
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID);
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("回到列表", "Index")
        </div>
    }
</div>
