@model IEnumerable<AspNetMvc_EFCodeFirst.Models.Course>

@{
    ViewBag.Title = "课程列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>课程列表</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<p>@Html.ActionLink("批量修改学分", "UpdateCourseCredits")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CourseID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Credits)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department.Name)
    </td>
    <td>
        @Html.ActionLink("编辑", "Edit", new { id = item.CourseID }) |
        @Html.ActionLink("详情", "Details", new { id = item.CourseID }) |
        @Html.ActionLink("删除", "Delete", new { id = item.CourseID })
    </td>
</tr>
}

</table>
