@model AspNetMvc_WeChat.Models.People
@{
    ViewBag.Title = "Chapter 02";
}

<h2>chapter 02: ASP.NET MVC开发基础</h2>

<br />
<br />

<ul>
    <li>@Html.ActionLink("【例2-1】", "Index", "Hello")</li>
    <li>@Html.ActionLink("【例2-1】", "Index", "RenderSection")</li>
</ul>

<br />
<br />
<dl class="dl-horizontal">
    <dt>姓名：</dt>
    <dd>@Model.Name</dd>
    <dt>性别：</dt>
    <dd>@Model.Sex</dd>
    <dt>年龄：</dt>
    <dd>@Model.Age</dd>
</dl>

