
@{
    ViewBag.Title = "Chapter04";
}
<div class="jumbotron">
    <h2>Chapter04: 自定义菜单开发</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例4-1】创建自定义菜单", "MenuCreate", "Home")</li>
        <li>@Html.ActionLink("【例4-2】查询自定义菜单", "MenuSearch", "Home")</li>
        <li>@Html.ActionLink("【例4-3】删除自定义菜单", "MenuDelete", "Home")</li>
        <li>@Html.ActionLink("【例4-4】获取自定义菜单配置", "MenuParam", "Home")</li>
        <li>@Html.ActionLink("【例4-5】创建个性化菜单", "MenuPersonalCreate", "Home")</li>
        <li>@Html.ActionLink("【例4-6】删除个性化菜单", "MenuPersonalDelete", "Home")</li>
        <li>@Html.ActionLink("【例4-7】测试个性化菜单匹配结果", "MenuPersonalMatch", "Home")</li>
    </ul>
</div>

