@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>WeChat 公众平台</h1>
    <h2>@*@ViewData["newTitle"]*@</h2>
    @*<h2>@ViewBag.Time</h2>*@
</div>

<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("Chapter 02: ASP.NET MVC开发基础与公众平台", "Index", "Home", new { area = "Chapter02" }, null)</li>
        <li>@Html.ActionLink("Chapter 03: ASP.NET MVC中搭建微信公众平台", "Index", "Home", new { area = "Chapter03" }, null)</li>
        <li>@Html.ActionLink("Chapter 04: 自定义菜单开发", "Index", "Home", new { area = "Chapter04" }, null)</li>
        <li>@Html.ActionLink("Chapter 05: 消息接口", "Index", "Home", new { area = "Chapter05" }, null)</li>
        <li>@Html.ActionLink("Chapter 06: 用户管理", "Index", "Home", new { area = "Chapter06" }, null)</li>
        <li>@Html.ActionLink("Chapter 07: 客服管理", "Index", "Home", new { area = "Chapter07" }, null)</li>
        <li>@Html.ActionLink("Chapter 08: 素材管理", "Index", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("Chapter 09: 统计分析", "Index", "Home", new { area = "Chapter09" }, null)</li>
        <li>@Html.ActionLink("Chapter 10: 微信前端", "Index", "Home", new { area = "Chapter10" }, null)</li>
        <li>@Html.ActionLink("Chapter 11: 微信卡券", "Index", "Home", new { area = "Chapter11" }, null)</li>
        <li>@Html.ActionLink("Chapter 12: 微信支付", "Index", "Home", new { area = "Chapter12" }, null)</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>开始学习</h2>
        <p>该项目通过在ASP.NET MVC5中构建WeChat公众平台应用程序,对订阅号及相关接口进行调用和学习</p>
    </div>
    <div class="col-md-4">
        <h2>项目构建过程演示</h2>
        <p>可以在MSDN官网中获取项目详细的构建过程</p>
        <p><a class="btn btn-default" href="#">学习指导 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>项目GitHub示例下载</h2>
        <p>可以从下面的链接中下载完整示例</p>
        <p><a class="btn btn-default" href="https://github.com/ChuanmingXie/AspNetWeb_Developer/archive/refs/heads/master.zip">下载示例 &raquo;</a></p>
    </div>
</div>

