@model AspNetMvc_WeChat_Base.WeChat.WeChatBeginAPI
@{
    ViewBag.Title = "Chapter05";
}
<div class="jumbotron">
    <h2>Chapter05: 消息接口</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例5-01】向用户群发消息 - group_id", "SendByGroupID", "Home", new { area = "Chapter05" })</li>
        <li>@Html.ActionLink("【例5-02】向指定群发消息 - OPENID", "SendByOpenID", "Home", new { area = "Chapter05" })</li>

        <li>@Html.ActionLink("【例5-03】设置所属行业", "IndustrySet", "Home", new { area = "Chapter05" })</li>
        <li>@Html.ActionLink("【例5-04】获取所属行业", "IndustryGet", "Home", new { area = "Chapter05" })</li>

        <li>@Html.ActionLink("【例5-05】获取模板ID", "TemplateIDGet", "Home", new { area = "Chapter05" })</li>
        <li>@Html.ActionLink("【例5-06】获取模板列表", "TemplateListGet", "Home", new { area = "Chapter05" })</li>
        <li>@Html.ActionLink("【例5-07】发送模板列表", "TemplateMsgSend", "Home", new { area = "Chapter05" })</li>
    </ul>

</div>
<div class="jumbotron">
    <hr />
    <dl class="dl-horizontal">
        <dt>返回状态</dt>
        <dd>@ViewBag.CheckFromWeChat</dd>
        <dt>SignatureOrigin</dt>
        <dd>@Model.SignatureOrigin</dd>
        <dt>SignatureConfirm</dt>
        <dd>@Model.SignatureConfirm</dd>
    </dl>
</div>
