
@{
    ViewBag.Title = "Chapter08";
}
<div class="jumbotron">
    <h2>Chapter08：素材管理</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例8-01】新增临时素材", "MediaTemporary", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-02】获取临时素材", "MediaTemporaryGet", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-03】新增永久图文-素材", "MediaPermanentNews", "Home", new { area = "Chapter08" })</li>
        <li>@Html.ActionLink("【例8-04】新增永久图文-封面", "MediaPermanentCover", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-05】新增永久图文-图片", "MediaPermanentNewImg", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-06】新增其他永久素材", "MediaMaterialByType", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-07】获取永久素材", "MediaMaterialGet", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-08】修改永久素材", "MediaMaterialUpdate", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-09】删除永久素材", "MediaMaterialDelete", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-10】获取素材总数", "MediaMaterialCount", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-11】获取素材列表", "MediaMaterialList", "Home", new { area = "Chapter08" }, null)</li>
    </ul>
</div>

