
@{
    ViewBag.Title = "Chapter08";
}
<div class="jumbotron">
    <h2>Chapter08：素材管理</h2>
</div>
<div class="jumbotron">
    <ul>
        <li>@Html.ActionLink("【例8-1】新增临时素材", "MediaTemporary", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-2】获取临时素材", "MediaTemporaryGet", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-3】新增永久素材封面", "MediaPermanentCover", "Home", new { area = "Chapter08" })</li>
        <li>@Html.ActionLink("【例8-4】新增永久素材", "MediaPermanent", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-5】新增永久图文素材", "MediaPermanentNewImg", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-6】新增其他永久素材", "MediaMaterial", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-7】获取永久素材", "MediaMaterialGet", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-8】修改永久素材", "MediaPermanentUpdate", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-9】删除永久素材", "MediaMaterialDelete", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-10】获取素材总数", "MediaMaterialCount", "Home", new { area = "Chapter08" }, null)</li>
        <li>@Html.ActionLink("【例8-11】获取素材列表", "MediaMaterialBatch", "Home", new { area = "Chapter08" }, null)</li>
    </ul>
</div>

