@*@model AspNetMvc_WeChat_Base.Model.WeChatMediaUpload*@
@{
    ViewBag.Title = "【例8-1】新增临时素材 - Chapter08";
}
<div class="jumbotron">
    <h2>【例8-1】新增临时素材</h2>
</div>
<div class="jumbotron">
    @if (@ViewBag.mediaTemporaryID != "")
    {
        @ViewBag.mediaTemporaryID
    }
    @using (Html.BeginForm("MediaTemporary", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("选择临时的素材:", new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <input type="file" class="form-control-file" name="uploadFile" id="uploadFile" />
                    @*@Html.TextBoxFor(model => model.uploadFile, new { @class="form-control-file",type="file"})*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-2">
                    <input type="submit" name="uploadSubmit" class="btn btn-default" value="上传" />
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("返回列表", "index")
</div>